
body {
    background:#333;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: black;
    height:100%;
    text-align:center;
    font-size:18px;
    margin-top: 0px;
  }
  
  .container-fluid {
    padding-top: 80px;
    background-image: url('../images/outerspace.jpg');
    background-size: cover;
    height:100vh;
    z-index: 111;
  }

  h1, h2, h3 {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
     margin:5px 0;
     color: white;
  }
  
  h1 {
      font-size: 2.6em;
      color: white;
  }
  
  h2 {
      font-size: 1.6em;
      color: white;
  }

  h3 {
    font-size: 1em;
    color: white;
    margin-bottom: 30px;
}
  
  p{
    font-size: 1.6em;
    color: white;
  }
  
  ul {
      padding: 0px;
      color: white;
  }
  
  #guessableWord {
    margin: 0;
    padding: 0;
    z-index: 333;
    color: white;
  }
  
  #guessableWord li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
    z-index: 333;
    color: white;
  }


/* Medium devices (landscape tablets, 768px and up) */

@media (max-width: 768px) { 
    p{
        font-size: 1.2em;
        color: white;
      }
    h2 {
        font-size: 1.2em;
        color: white;
    }
  
    h3 {
      font-size: .8em;
      color: white;
      margin-bottom: 30px;
  }
    

    #guessableWord li {
        position: relative;
        list-style: none;
        margin: 0;
        display: inline-block;
        padding: 0 10px;
        font-size: .7em;
        z-index: 333;
        color: white;
      }
} 

  
  #gameStatus {
      color: white;
  }

  #guessword {
    margin: 0;
    padding: 0;
    z-index: 333;
    color: white;

  }
  
  #guessword li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
    z-index: 333;
    color: white;

  }
  
    #mylives{
    font-size:1.6em;
    text-align:center;
    display:block;
    z-index: 333;
    color: white;

  }
  
  button{
    background: #eee;
    color: white;
    border: solid 1px white;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
    outline: none;
    z-index: 333;

      &:hover{
        background:white;
        border: solid 1px $white;
      }
  }
  
