
body {
    background:#333;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: white;
    height:100%;
    text-align:center;
    font-size:18px;
  }
  
  .wrappper{
    @include clear;
    width:100%;
    margin:0 auto;
  }
  
  
  h1, h2, h3 {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
     margin:5px 0;
  }
  
  h1 {
      font-size: 2.6em;
  }
  
  h2 {
      font-size: 1.6em;
  }
  
  p{
    font-size: 1.6em;
  }
  
  ul {
      padding: 0px;
  }
  
  #guessableWord {
    margin: 0;
    padding: 0;
  }
  
  #guessableWord li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
  }
  

  #guessword {
    margin: 0;
    padding: 0;
  }
  
  #guessword li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
  }
  
    #mylives{
    font-size:1.6em;
    text-align:center;
    display:block;
  }
  
  button{
    background: #eee;
    color: black;
    border: solid 1px white;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
    outline: none;
    
      &:hover{
        background:white;
        border: solid 1px $white;
      }
  }
  
